/* Основні стилі для сторінки */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.btn {
    background-color: #3498db;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
    display: inline-block;
}

.btn:hover {
    background-color: #2980b9;
}

.profile-btn {
    background-color: #2ecc71;
}

.profile-btn:hover {
    background-color: #27ae60;
}

/* Плашка з подякою */
footer {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #2E7D32; /* Трохи темніше для контрасту */
    color: white;
    text-align: center;
    font-size: 14px; /* Менший розмір тексту */
    line-height: 1.4; /* Покращення читабельності */
}
footer a {
    color: #BBDEFB; /* Відповідний відтінок для посилань */
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

/* Стилі для блокування кнопок */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.profile-btn-container {
    text-align: center;
    margin-top: 20px;
}
